
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>


    <header>
      <% include ../partials/header %>
    </header>

    <% include partials/top %>

    <h2>관리자 페이지는 접근 하실 수 없습니다</h2>

    <a href="/">다시로그인하기</a>


    <footer>
    <% include ../partials/footer %>
    </footer>
  </body>
</html>
