
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>


    <header>
      <% include ../partials/header %>
    </header>

    <% include partials/top %>

    <form action="index.html" method="get">
      <input type="text" name="searchcarnum" value="">
      <input type="submit" name="" value="">
    </form>



    <footer>
    <% include ../partials/footer %>
    </footer>
    <script>
        function
    </script>


  </body>
</html>
